body {
    font-family: 'Titillium Web', sans-serif;
    /*font-family: 'Titillium Web','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    color: #444;
    /*line-height: 1.7;*/
    font-weight: 400;
    background-color: #F0F0F7;
}
.nav-logo
{
    height:60px;
    width:60px;
}
.navbar-expand-lg
{
    background-image: linear-gradient(135deg, #6a81e9, #9c6cce);
}
.nav-link,.navbar-brand
{
    color:white;
    font-size: 18px;
}
.nav-link:hover,
.navbar-brand:hover
{
    color:black;
} 
.navbar-nav > li > .dropdown-menu {
     background-color:white;
     }
     .dropdown-item
     {
         color:black;
     }
   
     .svg-icon
     {
         stroke: white;
     }
     .custom-submit-btn {
        text-transform: uppercase;
        padding: 6px;
        border-radius: 3px;
        background: linear-gradient(135deg, #ff4c9f, #ff7b74);
        border: 1px solid transparent;
        color: #fff;
        box-shadow: 0 2px 6px -2px #b92b24;
        transition: all .2s ease-in-out;
        font-weight: bold;
        letter-spacing: .06em;
    }
    .custom-submit-btn:focus {
        box-shadow: 0 4px 12px -5px #b92b24;
        background: linear-gradient(135deg, #ff4c9f, #ff7b74);
        border: 1px solid transparent;
        color: #fff !important;
        transition: all .2s ease-in-out;
        transform: translateY(-2px);
    }
   

   
    
  
 /***Number counter styling****/
 .center-section
 {
   margin:auto;
 }
 .numbers__item
 {
    background-color: #fff;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.2);
 }
 .numbers__value {
    font-weight: bold;
    text-align: center;
   font-size:1.2rem;
    margin: 0;
}
 .grid {
    display: grid;
    grid-template-columns: 1fr;
   grid-gap:10px;
   padding:0 20px;
   }
   .numbers__text {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
}
.svg-rupee
{
    width:1.3rem;
    height:1.3rem;
}
.value-rupee
{
    display:inline;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}
@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
  @media screen and (min-width: 1028px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
       grid-gap:10px;
       padding:0 20px;
       
      }
.mt1
{
    margin-top:10px;
}
}